/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background: linear-gradient(-45deg, #2c786c, #3c635b, #c9d99e);
	background-size: 350% 350%;
	animation: gradient 50s ease infinite;
	height: 100vh;

}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}





/* ROOT FONT STYLES */

* {
  font-family: "Brush Script MT", cursive, fantasy;
  color: #22333b;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
}

.row [class^="col"] {

  margin: 20px;
  border: 0px solid #ccc;
  float: left;
  width: 100;
  height: inherit;
}


.row::after {
	content: "";
	display: table;
	clear: both;
}
.images{
  float:left;
  position: relative;
  border: 0px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  }

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}



@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 90%;
    margin-top: 1%;
    /* max-width: 60rem; */
  }
}

.container {
  margin-top: 1%;
}
